.right {
  float: right;
}

input {
  max-width: 95%;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.error {
  color: #ff0000;
  background: lightgrey;
  display: block;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  grid-template-columns: fit-content(30px) fit-content(30px) 1fr;
}

.success {
  color: green;
  display: block;
  display: inline-block;
  background: rgb(200, 247, 179);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  padding: 5px;
  margin-bottom: 5px;
}

ul,
li {
  list-style-type: none;
}

li {
  padding-left: 2em;
  text-indent: -2em;
}
